* {
    margin: 0;
    border: 0;
}
body{
    font-family: sans-serif;
}
.navbar{
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    margin: 0px 15% 50px 15%;
    background-color: gray;
}
#login{
    color: white;
    background-color: blue;
    padding: 5px 10px;
    width: 65px;

}
.addDefinition{
    background-color: green;
    text-align: center;
}
.like {
    background-color: orange;
}
button{
    padding: 10px;
    color: black;
    box-shadow: 2px 2px 2px 2px black;
    border-radius: 10%;
}
input{
    width: 25%;
    padding: 5px;
}
.content{
    margin: 0 15% 0 15%;
    display: flex;
}
.definition-box{
    margin: 5px;
    display: flex;
    align-items: center;
}
.definition{
    flex: 2;
}
.definedBy {
    text-align: center;
}
.black_border{
    border: 5px black solid;
    padding: 20px;
    margin: 15px;
    border-radius: 5%;
}
.narrow{
    flex: 1;
    text-align: center;
    padding: 10px
}
.defintion_text{
    flex: 3;
    font-size: 24pt;
}